<div class="actions">
  <h1>About</h1>
</div>
<div class="about-grid">
  <p>
    This project is an assessment from Scandiweb for the Junior Developer
    position. The assessment is a test of skills with HTML, CSS, PHP, and MySQL.
    Scandiweb is a marketing, and e-commerce web development company located in
    Latvia, more information on this <a href="https://scandiweb.com">link</a>. I
    am the candidate, Tawanda Msengezi from Harare, Zimbabwe
  </p>
  <p>
    Zimbabwe is a country in southern Africa with a population of about
    14,000,000 people. The main languages spoken in Zimbabwe are English, Shona,
    and IsiNdebele. The popular tourist destinations are Victoria Falls, Kariba,
    and Nyanga.
  </p>
</div>
